## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio cache & user files
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

## Package files
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## OS files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
